# CI/CD Police
.github/workflows/conftest.yaml     @DAConsortium/sre-admins
.github/workflows/secretlint.yaml   @DAConsortium/sre-admins
.circleci/policy/*                  @DAConsortium/sre-admins
.secretlintrc.json                  @DAConsortium/sre-admins